<mat-toolbar color="primary">
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [routerLink]="['']"
    routerLinkActive="router-link-active"
  >
    Mean App
  </button>
  <span class="example-spacer"></span>

  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
  >
    Login
  </button>
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/signup']"
    routerLinkActive="router-link-active"
  >
    Signup
  </button>
</mat-toolbar>
