<!-- <mat-spinner ></mat-spinner> -->
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-accordion *ngIf="posts$ | async as posts">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
      <mat-panel-description>
        {{ post.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ post.post }}</p>
    <mat-action-row>
      <button (click)="onEditPost(post._id)" color="primary" mat-raised-button>
        Edit
      </button>
      <button (click)="onDeletePost(post)" class="delete" mat-raised-button>
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0 && !isLoading" class="mat-body-1 info-text">
  No Posts Added Yet
</p>
